* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 80%;
    /* height: 400px; */
    margin: 50px auto;
    border: 1px solid red;
  }

  .title {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgb(31, 145, 45);
  }

  .title h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(145, 31, 31);
    text-shadow: 2px 2px 2px rgb(31, 145, 45);
  }

  .navbar {
    width: 100%;
    border-bottom: 1px solid rgb(31, 145, 45);
    background-color: rgb(240, 155, 170);
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
  }

  .navbar ul img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .navbar ul li {
    padding: 0 4px 0 4px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(244, 244, 246);
    cursor: pointer;
  }

  .navbar ul li::after {
    content: "|";
    padding-left: 10px;
    color: rgb(31, 44, 145);
  }

  .starter {
    width: 100%;
  }

  .starter h2 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(145, 31, 31);
    text-align: center;
    background-color: rgb(240, 155, 170);
    letter-spacing: 15px;
  }

  .starter ul {
    margin-left: 40px;
  }

  .starter ul li {
    font-size: 16px;
    font-weight: 300;
  }

  .starter ul li:nth-child(3) {
    color: rgb(241, 137, 33);
  }

  .starter ul li span {
    color: rgb(255, 0, 0);
    text-decoration: underline;
  }

  .Desserts {
    width: 100%;
  }

  .Desserts h2 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(145, 31, 31);
    text-align: center;
    background-color: rgb(240, 155, 170);
    letter-spacing: 15px;
  }

  .Desserts ul {
    margin-left: 40px;
  }

  .Desserts ul li {
    font-size: 16px;
    font-weight: 300;
  }

  .Desserts ul li span {
    color: rgb(255, 0, 0);
    text-decoration: underline;
  }

  .search {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  span {
    color: rgb(255, 0, 0);
    font-weight: 600;
    text-decoration: underline;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
  }

  .wrapper__left {
    width: 15%;
  }

  .wrapper__center {
    width: 55%;
  }

  .wrapper__right {
    width: 25%;
    background-color: black;
  }

  .wrapper__left p {
    font-size: 16px;
    font-weight: 300;
    color: white;
    width: 100%;
    height: 25px;
    margin-bottom: 6px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgb(240, 155, 170);
  }

  .wrapper__left img {
    width: 100%;
    border-radius: 50%;
    margin-top: 5px;
    box-shadow: 2px 2px 12px rgb(240, 155, 170);
  }

  .infomation {
    width: 100%;
  }

  .infomation h2 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(145, 31, 31);
    text-align: center;
    background-color: rgb(240, 155, 170);
    letter-spacing: 15px;
  }

  table {
    width: 100%;
    margin-top: 10px;
  }

  table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  table tr td {
    width: 45%;
  }

  table tr:nth-child(1) td input,
  table tr:nth-child(2) td input {
    width: 100%;
    height: 30px;
  }

  table tr:nth-child(4) td {
    width: 100% !important;
  }

  table tr:nth-child(4) td textarea {
    width: 100%;
    height: 50px;
  }

  .section1 {
    width: 100%;
  }

  .section1 .image {
    width: 100%;
    height: 100px;
  }

  .section1 img {
    width: 100%;
    height: 100%;
  }

  .wrapper__right h2,
  .section1 .title,
  .section1 .content {
    color: #ccc;
  }

  .footer {
    width: 100%;
    height: 50px;
    background-color: rgb(240, 155, 170);
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }